*{
    font-family: inter, "sans-serif";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 25px;
    gap: 15px;
}

nav li {
    font-size: 1.2em;
}

nav ul li a {
    color: #fff;
    background-color: #064397;
    padding: 8px;
    font-weight: 400;
    border-radius: 30px;
    text-decoration: none;

    &:hover {
        background-color: #197ec6;
        transition-duration: 500ms;
 
    }
}
#banner {
    width: 100vw;
}

#banner img {
    width: 100% ;
}

#container_cards{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    gap: 8px;
}

.cards p {
    font-size: 1.6em;
    font-weight: lighter;
}

.cards span {
    font-weight: bold;
}

.element{
    margin: 6px;
}

.element_icons {
    text-align: center;
    background-color: #4EADE5;
    padding: 10px;
    height: 54px;
    width: 54px;
    border-radius: 100% ;
}

.element img{
    width: 31px;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

main img{
    width: 25%;
}

main h1 {
    background-color: #064397;
    color: white;
    font-size: 3em;
    line-height: 40px;
    text-transform: capitalize;
    padding: 15px;
    border-radius: 0px 20px 0px;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px ;
    gap: 5vw;
 }

section h2 {
    color: #064397;
    text-align: right;
    font-size: 2.1em;
    width: 50vw;
}

section p {
    font-size: 1.5em;
    width: 50vw;
    text-align: left;
    font-weight: 200;
}

#video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

#video h2 {
    color: #064397;
    margin-bottom: 17px;
}

/* rodapé do site */
footer{
    background: rgb(37,37,37);
    background: linear-gradient(90deg, rgb(25, 27, 76) 0%, rgba(15,37,137,1) 50%, rgb(2, 135, 183) 100%);
    color: white;
}


footer h2 {
    text-align: center;
    padding: 38px;
    font-size: 2em;
    text-decoration: underline 1px;
    font-weight: 900;
}


/* informações da loja do rodapé */
#inform_store{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}




#time_work h3 {
    font-size: 1.5em;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 800;
}



#time_work p{
    font-size: 1.3em;
    font-weight: lighter;
}

#time_work span{
    font-weight: bold;
}

address, #time_work {
    width: 50vw;
    font-weight: lighter;
}

address{
    text-align: right;
    font-size: 1.8em;
}

footer h4{
    margin-top: 20px;
    font-size: 1.4em;
    text-align: center;
}

#selo{
    margin-left: 15px;
}

#selo img {
}

/* edição para tablets */
@media (max-width: 950px){
    nav li {
        font-size: 1em;
    }

    nav ul{
        margin: 22px;
    }

    #container_cards{
        gap: 2px;
    }
    
    .element_icons {
        background-color: #4EADE5;
        padding: 10px;
        height: 45px;
        width: 45px;
        border-radius: 100% ;
    }

    .element img{
        width: 25px;
    }

    .cards p{
        font-size: 1em;
    }

    main h1 {
        background-color: #064397;
        color: white;
        font-size: 2em;
        line-height: 30px;
        text-transform: capitalize;
        text-align: center;
        border-radius: 0px 20px 0px;
    }

    .products img{
        width: 40%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    section h2 {
        font-size: 1.6em;

    }
    section p {
        font-size: 1.2em;

    }

    section{
        padding-bottom: 20px;
    }

    #video h2{
        font-size: 1.2em;
    }

    #video video{
        width: 400px;
    }

    footer h2 {
        font-size: 1.8em;
    }
    
    address{
        font-size: 1.4em;

    }

    #time_work h3{
        font-size: 1.2em;
    }
    
    #time_work p{
        font-size: 1.2em;
    }

    #selo img{
        width: 20%;
    }
    
    
}

/* edição para celulares */
@media (max-width: 600px){
    nav li {
        font-size: 1em;
    }

    nav ul{
        margin: 22px;
    }

    #container_cards{
        gap: 20px;
    }

    .cards{
        display: block;
        flex-direction: column;
        ;

    }
    
    .element_icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4EADE5;
        padding: 5px;
        height: 40px;
        width: 40px;
        border-radius: 100% ;
    }

    .element{
        display: flex;
        justify-content: center;
    }

    .element img{
        width: 18px;
    }

    .cards p{
        text-align: center;
        font-size: .8em;
    }

    main h1 {
        background-color: #064397;
        color: white;
        font-size: 1.1em;
        line-height: 20px;
        text-transform: capitalize;   
        text-align: center;
        border-radius: 0px 20px 0px;
    }

    .products img{
        width: 40%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    
    section h2 {
        font-size: 1.4em;
        text-align: center;
        width: 100%;
        
    }
    section p {               
        width: 100%;
        text-align: center;
        font-size: 1em;

    }

    #video h2{
        font-size: 1.2em;
            
        text-align: center;
    }

    #video video{
        width: 380px;
    }

    footer h2 {
        font-size: 1.5em;
    }

    #inform_store{
        display: flex;
        flex-direction: column;

    }
    
    address{
        width: 100vw;
        text-align: center;
        font-size: 1.4em;
    }

    #time_work{
        width: 100vw;
        text-align: center;
    }

    #time_work h3{
        font-size: 1.1em;
    }
    
    #time_work p{
        font-size: 1em;
    }

    #selo img{
        width: 20%;
    }
}

@media(max-width: 460px){
    #video video{
        width: 320px;
}
}